# Python bytecode
__pycache__/
*.py[cod]

# Jupyter checkpoint dosyaları
.ipynb_checkpoints/

# Sanal ortam klasörleri
env/
venv/
ENV/

# Geçici dosyalar
*.log
*.tmp

# IDE klasörleri
.vscode/
.idea/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Derleme dizinleri
build/
dist/
*.egg-info/

# Test çıktıları ve cache
.tox/
.pytest_cache/

# Kendi not defteri çıktılarım
*.sqlite3
